* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media (max-width: 400px) {
  html {
    font-size: 16px;
  }
}

body {
  overflow: hidden;
  font-family: "Cherston-Regular", sans-serif;
}

a {
  text-decoration: none;
}

.font {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.font__juniperandsage {
  font-family: "JuniperandSage-Regular", sans-serif;
}

.font__inter {
  font-family: "Inter", sans-serif;
}

.font--white {
  color: #ffffff;
}

.font--centered {
  text-align: center;
}

.font--uppercase {
  text-transform: uppercase;
}

.font--capitalize {
  text-transform: capitalize;
}

.font--brown {
  color: #6F5D4D;
}

.title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
}

.header {
  position: fixed;
  z-index: 9999;
  top: 60px;
  left: 210px;
}

.section {
  min-height: 100vh;
  width: 100vw;
}

.section__home {
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75% 75%;
}

.section__about {
  position: relative;
  background-color: #ffffff;
}

.section__coming-soon {
  position: relative;
  background-color: #6F5D4D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.home__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 19.375rem;
}

.about__image {
  position: absolute;
  left: 50%;
  top: -55px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  border-radius: 9999px;
  width: 70px;
  height: 100px;
}

.about__image img {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about__image-content {
  width: 178px;
  margin-top: 141px;
}

.about__subtitle {
  font-size: 3.4375rem;
  font-weight: 400;
  margin-top: 25px;
}

.about__title {
  font-size: 5rem;
  font-weight: 400;
  line-height: 5rem;
  margin-top: 15px;
}

.about__text {
  width: 1100px;
  font-family: Inter, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 40px;
}

.about__content {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.coming-soon__title {
  font-size: 4.6875rem;
  font-weight: 400;
  line-height: 5rem;
  margin-top: 107px;
}

.coming-soon__contact {
  font-family: Inter, sans-serif;
  font-size: 1.5625rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.9375rem;
  letter-spacing: 0em;
  text-align: center;
}

.coming-soon__contact:first-child {
  margin-top: 30px;
}

.coming-soon__image {
  width: 155px;
  margin-top: 141px;
}

.coming-soon__footer {
  text-align: center;
  margin-top: auto;
  margin-bottom: 91px;
}

@media (max-width: 1100px) {
  .header {
    position: absolute;
    top: 70px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header img {
    width: 140px;
  }
  .home__title {
    font-size: 13rem;
  }
  .about__image-content {
    margin-top: 65px;
  }
  .about__title {
    font-size: 4rem;
  }
  .about__text {
    width: unset;
    padding: 0 20px;
  }
  .coming-soon__image {
    margin-top: 65px;
  }
  .coming-soon__title {
    margin-top: 50px;
  }
  .coming-soon__contact:first-child {
    margin-top: 40px;
  }
  .coming-soon__footer {
    margin-bottom: unset;
  }
}

@media (max-width: 1000px) {
  .about__text {
    padding: 0 100px;
    font-size: 18px;
    line-height: 25px;
  }
}

@media (max-width: 700px) {
  .home__title {
    font-size: 8rem;
  }
}

@media (max-width: 630px) {
  .about__subtitle {
    font-size: 2.5rem;
  }
  .about__title {
    font-size: 3.5rem;
  }
  .about__text {
    font-size: 1.4rem;
    padding: 0 60px;
  }
  .coming-soon__title {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}

@media (max-width: 550px) {
  .about__title {
    line-height: 4rem;
  }
}

@media (max-width: 500px) {
  .about__subtitle {
    font-size: 2rem;
  }
  .about__title {
    font-size: 2.875rem;
  }
  .about__text {
    line-height: 2rem;
  }
}

@media (max-width: 470px) {
  .about__subtitle {
    line-height: 4rem;
  }
  .about__title {
    margin-top: 20px;
    font-size: 3rem;
    line-height: 3rem;
  }
  .about__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 435px) {
  .home__title {
    font-size: 7.5rem;
  }
  .coming-soon__title {
    font-size: 2.8125rem;
    line-height: 3rem;
    padding: 0 20px;
  }
  .coming-soon__contact {
    font-size: 1.065rem;
    line-height: 2rem;
  }
  .coming-soon__image-footer {
    width: 150px;
    margin-bottom: 20px;
  }
}

@media (max-width: 400px) {
  .about__text {
    padding: 0 30px;
  }
}

@media (max-width: 380px) {
  .home__title {
    font-size: 5rem;
  }
  .about__subtitle {
    font-size: 1.5rem;
  }
  .about__title {
    font-size: 2.5rem;
    margin-top: unset;
  }
  .about__image-content {
    width: 110px !important;
  }
  .coming-soon__title {
    font-size: 2.25rem;
  }
  .coming-soon__contact:first-child {
    margin-top: 40px;
  }
  .coming-soon__image {
    width: calc(110px - 17px) !important;
  }
}

@media (max-width: 360px) {
  .about__title {
    font-size: 2rem;
  }
  .about__text {
    padding: 0 10px;
    font-size: 1rem;
  }
}

@media (max-height: 800px) {
  .about__image-content {
    width: 140px;
    margin-top: 55px;
  }
  .coming-soon__image {
    width: 117px;
    margin-top: 55px;
  }
}

@media (max-height: 600px) {
  .about__image-content {
    width: 110px;
    margin-top: 55px;
  }
  .about__text {
    margin-top: 10px;
  }
  .coming-soon__image {
    width: 87px;
    margin-top: 55px;
  }
}
/*# sourceMappingURL=style.css.map */